.board {
    border: 1px solid black;
    background-color: lightblue;
}

/*
.board .row {
    
}
*/

.board .cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.board .cell-empty {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: cadetblue;
}